/*
------------------------------
           COLORES
------------------------------
*/

html {
  --black: #202122;
  --gray: #6F6F6F;
  --light_gray: #DADADA;
  --light_light_gray: #EAEAEA;
  --white: #F6F6F6;
  --dark_blue: #3B5F99;
  --blue: #0FADF4;
  --light_blue: #B3E5FC;
  --dark_orange: #A0660A;
}

/*
------------------------------
         FIN COLORES
------------------------------
*/





/*
------------------------------
     VALORES POR DEFECTO
------------------------------
*/

body {
  background-color: white;
}

/*
------------------------------
   FIN VALORES POR DEFECTO
------------------------------
*/





/*
------------------------------
           HEADER
------------------------------
*/

header {
  background-color: var(--light_gray);
  box-shadow: 0 4px 8px 0 #20212214, 0 6px 20px 0 #20212213;
}

/*
------------------------------
          NAVEGADOR
------------------------------
*/

header nav ul li#Arquitectura ul {
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 #20212214, 0 6px 20px 0 #20212213;
}

header nav ul li#Arquitectura ul a:hover {
  background-color: var(--light_light_gray);
}

/*
------------------------------
        FIN NAVEGADOR
------------------------------



------------------------------
           TÍTULO
------------------------------
*/

/*
------------------------------
         FIN TÍTULO
------------------------------



------------------------------
           IDIOMA
------------------------------
*/

/*
------------------------------
         FIN IDIOMA
------------------------------

------------------------------
         FIN HEADER
------------------------------




------------------------------
     NAVEGADOR CONTENIDO
------------------------------
*/

body > nav {
  background-color: white;
  box-shadow: 1px 0 8px -2px #20212214, 6px 0 20px -12px #20212213;
}

body > nav a:hover {
  background-color: var(--light_blue);
}

/*
------------------------------
   FIN NAVEGADOR CONTENIDO
------------------------------





------------------------------
           SECTION
------------------------------
*/

section {

}

/*
------------------------------
         FIN SECTION
------------------------------
*/





/*
------------------------------
           FOOTER
------------------------------
*/

footer {
  background-color: var(--white);
}

/*
------------------------------
         FIN FOOTER
------------------------------
*/
